{% extends 'index.html' %} {% block content %}
<main
  class="flex flex-col items-center w-full max-h-screen px-6 py-8 space-y-8 overflow-y-auto sm:py-16 justify-items-center lg:p-16"
>
<h1 class="font-bold text-2xl">Public Notes</h1>
{% for complaint in all_complains %}
    <a href="{{ url_for('fullpost', id=complaint.id) }}">
        <div class="flex flex-col p-8 shadow-md hover:shadow-slate-300 border max-w-sm hover:border-gray-300 rounded mb-4">
            <div class="mb-6">
                <label for="complain_id" class="text-sm font-sans font-semibold">Complain_ID: </label>
                <span class="text-gray-800 text-sm font-bold">{{ complaint.id }}</span>
            </div>
            <div class="w-full">
                <label for="complaint" class="text-sm font-sans font-semibold">Complaint: </label>
                <div class="text-gray-800 text-sm whitespace-normal break-words overflow-y-auto h-24">
                    {{ complaint.complain }}
                </div>
            </div>
        `</div>
    </a>
    {% endfor %}
</main>
{% endblock %}